@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>ÜRÜN ADI:</label>
        <input type="text" class="form-control" name="URUNAD" placeholder="Buraya ürün adını giriniz" required="" maxlength="30"/>
    </div>
    <div>
        <label>MARKA:</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Buraya marka adını giriniz" required="" maxlength="50"/>
    </div>
    <div>
        <label>KATEGORİ:</label>
        @Html.DropDownListFor(m=>m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr,new { @class="form-control"})
    </div>
    <div>
        <label>FİYAT:</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>STOK:</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>

